extends ../components/layout
block content
  h1 Permissions
  if results.length > 0
    table#tableID
      thead
      tr
          th(scope='col') ID
          th(scope='col') Name
          th(scope='col') Grant
          th(scope='col') Remove
      tbody
      each result in results
          tr
              td(data-label='Image Name') #{result.user_id}
              td(data-label='Captured By') #{result.fname +' '+result.lname}
              if result.access == 1
                td(data-label='') -
              else
                td(data-label='grant')
                    form(ref='uploadForm'  
                        id='share'  
                        action='/share/'+down+'/'+result.user_id
                        method='post'  
                        ) 
                        button.btn-file#upload(type='submit') Grant
  else 
    h3 No other users have access to this photo